@font-face {
    font-family: 'coop';
    src: url('cl.woff2') format('woff2'),
         url('cl.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'coop';
    src: url('cli.woff2') format('woff2'),
         url('cli.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'coop';
    src: url('cm.woff2') format('woff2'),
         url('cm.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'coop';
    src: url('cmi.woff2') format('woff2'),
         url('cmi.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

html, body {
  background-color: #ededee;
  font-size: 70px;
  font-family: "coop";
  font-weight: 100;
  line-height: 75px;
  color: #538db2;
}

#interface {
    position: fixed;
    text-align: center;
    width: 100%;
}
button {
    border: 0px;
    background: transparent;
    font-size: 23px;
    color: "darkgrey";
    font-family: "coop";
    font-weight: 100;
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 4;
    text-align: left;
    display: block;
    font-weight: 400;
/*    transition: color 0.3s;*/
}

/*
button:hover {
    color: #c62f05;
}
*/

#rn{
    color: #8f3c23;
    display: block;
    margin-top: 60px;
    margin-bottom: 5px;
    
}
#i {
    color: #562d1c;
    display: block;
    margin-bottom: 10px;
    margin-left: 750px;
    text-align: left;
}
inputX{
    display: block;
    
}
input {
    border: 7px solid #538db2;
    font-size: 70px;
    color: #538db2;
    font-family: "coop";
    font-weight: 100;
    padding-left: 20px;
    margin-bottom: 15px;
}
button:focus, input:focus{
    outline: none;
}
#is {
/*    color: #be830f;*/
    color: #8f3c23;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    margin-top: 10px;
}
.caps {
    z-index: 2;
    display: inline-block;
    width: 250px;
    font-size: 23px;
    line-height: 30px;
    color: #562d1c;
    text-align: left;
    vertical-align: top;
    font-weight: 400;
    font-style: normal;
}
.sketch{
   z-index: -1; 
    position: fixed;
    top: 0px;
    left: 0px;
}
#city {
    color: #538db2;
}
#submit{
    display: none;
}

a{
    color: #562d1c;
    text-decoration: none; 
    transition: color 0.4s;
}

a:hover {
    color: #db2f00;
}

::placeholder{
    color: #538db2;  
}

#c{
    z-index: 3;
    color: white;
    padding-right: 200px;
    padding-left: 420px;
    padding-top: 35px;
    padding-bottom: 50px;
    display: none;
    background-color: #538db2;
    opacity: 0.95;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow: scroll;
    line-height: 50px;
    font-size: 35px;
    text-align: left;
    
}

.e{
    position: fixed;
    bottom: 25px;
    right: 50px;
    width: 400px;
}



